{
    "extends": ["airbnb-base", "prettier"],
    "rules": {
        "prettier/prettier": "error",
        "quotes": "off",
        "no-console": "off",
        "consistent-return": "off",
        "no-restricted-syntax": "off"
    },
    "plugins": ["prettier"],
    "env": {
        "node": true
    }
}
